@charset "UTF-8";
.logo{
	font-size: 30px;
	letter-spacing: 3px;
}

.logo:Hover{
	color: #FFFFFF;
	text-decoration: none;
}

.linksMenu{
	color: white;
	font-size: 18px;
	word-spacing: 5px;
}
.rodape {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5%;
  background-color: rgb(128, 0, 0,0.8);
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}
.social {
	left: 0;
	right: 0;
	bottom: 4%;
  background-color: rgb(128, 0, 0,0.6);
  color: #FFFFFF;
  text-align: center;
}
.fa {
  color: #FFFFFF;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa-facebook {
  color: #FFFFFF;
}

.fa-twitter {
  color: #FFFFFF;
}

.fa-instagram {
  color: #FFFFFF;
}
.fa-google-plus {
  color: #FFFFFF;
}
.fa-whatsapp {
  color: #FFFFFF;
}