<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link href="../../resources/css/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row" style="height: 200px">
			<div class="col-sm-12" id="episodio-capa">
				<img id="capa" src="https://image.freepik.com/vrije-vector/gekleurde-achtergrond-van-abstracte-geluidsgolf_23-2147622442.jpg" class="img-fluid">
			</div>
		</div>
		<div class="row" style="padding-top: 20px">
			<div class="col-2" id="imagem-criador"> 
				<img id="criador" src="https://www.greenme.com.br/images/viver/saude-bem-estar/insatisfeito.jpg" class="rounded-circle img-fluid" style="height: 150px; width: 150px">
			</div>
			<div class="col-10">
				<div class="row" >
					<label id="titulo" class="col-form-label font-weight-bold" style="color: #800000">
						Algum título para o podcast com até 50 caracteress
					</label>
				</div>
				<div class="row" style="color: #800000">
					<div class="col-sm-4">
						<label id="nome-criador">Aqui vai o nome do criador de conteúdo</label>
					</div>
					<div class="col text-muted">
						<label id="data-postagem">01 de outubro de 2018</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../../resources/JS/jquery.min.js"></script>
    <script src="../../resources/JS/bootstrap/bootstrap.min.js"></script>
    <script src="../../resources/JS/imagesloaded.pkgd.min.js"></script>
    <script src="../../resources/JS/jquery-imagefill.js"></script>
    <script type="text/javascript">
    	$('#episodio-capa').imagefill();
    </script>

</body>